.highscore-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.highscore-header {
    text-align: center;
}

.bottom {
    margin-top: auto;
    margin-bottom: 100px !important;
}