@font-face {
    font-family: raleway;
    src: url(../public/assets/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

body {
    font-family: raleway;
    overflow: hidden;
    background: linear-gradient(to bottom, #92d4f1, #27a2d7);
}

input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.start {
    background-color: #e49cae;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2.5rem;
    font-weight: 700;
    justify-content: center;
    line-height: 4rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 600px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: auto;
    margin-bottom: 30vh;
}
