.start-screen-container {
    display: flex;
    height: 100vh;
}

.game-title {
    font-size: 4vw;
    border-bottom: solid 2px black
}

.splash {
    width: 35vw;
    height: 105vh;
    margin: -10px -10px 0 auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-right: solid 1px black;
}

.input-container {
    display: flex;
    width: 20vw;
    flex-direction: column;
}

.start:active {
    background-color: #e4879e;
}

.start:focus {
  outline: 0;
}

.start:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.start:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .start {
    padding: .75rem 3rem;
  }
}

.name-input {
  padding: 1.5rem;
  font-size: 30px;
  background: linear-gradient(to bottom, #fff, #fdabb0);
  border-radius: 3px;
  border: solid 1px white;
}
