.game-container {
    height: 100vh;
}

.guessed-word {
    text-align: center;
    font-size: 3vw;
    margin-top: 20vh;
}

.what-could-it-be {
    transform: rotate(25deg);
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 2vw;
}

#drink-guess {
    width: 50vw;
    height: 5vh;
    font-size: 2vw;
}

.input-container {
    display: flex;
    justify-content: center;
}

.remaining-guesses {
    font-size: 2vw;
    text-align: center;
}

.highscore {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 2vw;
}

.cocktail-instruction-container {
    width: 20vw;
    height: fit-content;
    max-height: 20vh;
    padding: 10px 20px 20px 20px;
    border-radius: 25px;
    border: solid black 1px;
    background: linear-gradient( to bottom, #eef7fb, #4093b7);
    overflow: auto;
    margin-left: 50px;
}

.instruction-header {
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 50px;
}

.back {
    position: absolute;
    height: 30px;
    top: 20px; 
    right: 20px;
}

.hint-container {
    width: fit-content;
    height: fit-content;
    background: linear-gradient( to bottom, #eef7fb, #4093b7);
    border-radius: 25px;
    border: solid black 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.hint-header {
    text-align: center;
}

.hint-buttons {
    display: flex;
    width: 20vw;
    flex-wrap:wrap;
    overflow:auto;
    justify-content: center;
}

.hint-buttons > button {
    width: fit-content;
    padding: 1rem;
    background-color:#e6d7d7;
    border: solid 1px black;
    border-radius: 15px;
}

.hint-buttons > button:hover {
    width: fit-content;
    padding: 1rem;
    background-color:white;
    border: solid 1px black;
    border-radius: 15px;
    cursor: pointer;
}

.hints {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.glass-hint {
    margin-left: 20px;
}

.ingredient-hint {
    margin-left: 20px;
}

.hint-buttons > button {
    margin: 0 10px;
}